#wow-chat-overlay {
    width: 594px;
    height: 204px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 18px;
    color: white;
    overflow-y: auto; /* Enable scrolling */
  }
  
  .chat-line {
    display: flex;
    align-items: baseline;
    margin-bottom: 4px;
    color: white;
  }
  
  .timestamp {
    color: gray;
    margin-right: 10px;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 14px;
  }
  
  .channel {
    margin-right: 5px;
  }
  
  .username {
    margin-left: 5px;
  }
  
  .message {
    margin-left: 5px;
    flex-grow: 1;
  }
  
  .message span {
    font-weight: bold;
  }
  
  #chat-container {
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
  }
  
